spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/clsv
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        default_batch_fetch_size: 10

logging.level:
  org.hibernate.SQL: debug